.container-principal{
    height: 100vh;
    width: 100%;
}

:root{
    --black: #1c1f26;
    --violet: blueviolet;
}

.back{
    background-color: #079191;
    position: absolute;
    right: 1rem;
    top:1rem;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-title{
    background: linear-gradient(var(--black), var(--violet));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.5em 1.5em .5em;
    font-size: 1.5rem;
}

footer{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 550px){
    .title-fis{
        padding-left: 4rem;
    }

    .title-fis h1{
        font-size: 2.250rem;
    }

    .box-title{
        font-size:1.3rem;
    }
}
