.termo-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main{
    background-color: #dbdada;
    max-width: 700px;
    padding: 1em;
    width: 90%;
    margin-top: 2rem;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .4rem;
    position: relative;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 100;
    border: 3px solid black;
    max-width: 650px;
    width: 100%;
    padding: .5rem;
}

.inputs input{
    outline: none;
    border:none;
    padding: .8rem 2.5rem;
    border-radius: .2rem;
    font-size: 1rem;
}

.box-number, .section-results{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #c3c3c3;
}

.section-results{
    padding-bottom: .5rem;
}

.box-number input{
    margin-bottom: .5em;
}

.box-number div{
    max-width: 100%;
    width: 100%;
    font-size:1.2rem;
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-number > div > label{
    position: absolute;
    font-weight: bold;
    left:-2rem;
}

#result, #calc{
    margin-top: .5rem;
}

.result, .calc{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.calc label{
    left: -5rem;
    display: flex;
}

.result label, .calc label{
    font-size: 1.2rem;
    margin-right: 6px;
    font-weight: bold;
    position: absolute;
    left:-4rem;
}

#calc, #result{
    background-color: white;
    padding: .8rem 2.5rem;
    border-radius: .2rem;
    width: 17.2rem;
    font-size: 1.2rem;
    color:#7a7171;
}

.button{
    padding-top: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

button{
    padding: .5rem 2rem;
    border: none;
    background-color: #025c02;
    color: white;
    font-weight: bold;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px black;
}

.Limpar{
    position: absolute;
    bottom:-2.8rem;
    background-color: #8a0303;
}

.none{
    position: absolute;
    bottom:-18rem;
    background-color: #000000;
    padding: .2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.none input{
    margin-top:.5rem;
}

@media(max-width:550px){
    .title-termologia{
        padding-left: 4rem;
    }   

    .button{
        flex-direction: column;
        padding-top: 1.3rem;
    }

    .result label, .calc label{
        display: none;
    }

    .inputs input{
        padding: .8rem 1.5rem;
    }

    .box-number > div > label{
        left:.3rem;
        font-size: 1rem;
    }
    
    .title-termologia h1{
        font-size: 2.29rem;
    }
}

@media(max-width: 380px){
    .box-number > div > label{
        left:-.5rem;
    }
}
